.left-auth {
  min-height: 100vh;
  background-image: url('../../../assets/img/auth/mask-group.svg');
  background-size: cover;
  overflow: hidden;
}

.title-left-auth {
  margin: 50px 0 40px 150px;
  font-family: Nunito Sans;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.wrap-phone {
  margin: 0 0 12px 0;
}

.phone-1 {
  margin: 0;
  width: fit-content;
  height: fit-content;
  left: 100px;
}

.phone-2 {
  margin: 0;
  width: fit-content;
  height: fit-content;
  left: 264px;
}

.left-paragraph-auth {
  margin: 12px 0 70px 150px;
  width: 60%;
}

.left-p-1 {
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 0 0 30px 0;
}

.left-p-2 {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.right-auth {
  padding: 120px 50px 0 50px;
}

@media (max-width: 1199px) {

  .title-left-auth {
    margin: 50px 0 40px 50px;
  }

  .phone-1 {
    left: 0px;
  }

  .phone-2 {
    left: 120px;
  }

  .left-paragraph-auth {
    margin: 12px 0 70px 50px;
  }

}

@media (max-width: 767px) {
  .right-auth {
    padding: 50px 50px 0 50px;
  }
}