.btn-try {
  /* Size */
  box-sizing: border-box;
  border-radius: 12px;
  height: 57px;
  width: fit-content;
  border-radius: 12px;
  padding: 0 45px;
  /* Font */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.btn-try:hover {
  opacity: .8;
}