.primary-z {
  background-color: #6379F4;
}

.primary-z-c {
  color: #ffffff;
}

.dark-z {
  background-color: #3A3D42;
}

.dark-z-c {
  color: #3A3D42;
}

.error-z {
  background-color: #FF5B37;
}

.error-z-c {
  color: #FF5B37;
}

.deny-z {
  background-color: #DADADA;
}

.deny-z-c {
  color: #88888F;
}